// Specific CSS for your home-page
.container {
    text-align: center;
}

h1 {
    margin-bottom: 24px;
}

h1, h2 {
    font-weight: light;
}

a, a:hover {
    border-bottom: solid $light-gray 1px;
    text-decoration: none;
    color: $light-gray;
}

ul {
    padding: 0;
}