<div class="d-flex align-items-center" style="height: 100vh">
    <div class="container">
        <h1>Hello!</h1>
        <h2>
            <span>
                I'm Bill and I'm a web developer.
            </span>
            I like making things that are functional, responsive and accessible. 
            <%= mail_to "bawden@hey.com", "Let's build something together." %>
        </h2>
    </div>
</div>