.header {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    color: $light-gray;
    text-align: center;
    padding-top: 16px;
    background-color: $aqua;
  }

.header-links {
    list-style: none;
    padding-inline-start: 0px;
    li {
        display: inline;
        
    }
    a , a:active, a:visited {
        border: none;
        margin-left: 16px;
        margin-right: 16px;
    }
}
