<nav>
    <div class="header">
        <ul class="header-links">
            <%= link_to root_path do %>
                <li>Home</li>
            <% end %>
            <%= link_to "/projects.html" do %>
                <li>Projects</li>
            <% end %>
            <%= link_to "/music.html" do %>
                <li>Music</li>
            <% end %>
        </ul>
    </div>
</nav>