<nav>
    <div class="header">
        <ul class="header-links">
            <li>
                <%= link_to root_path do %>
                    Home
                <% end %>
            </li>
            <li>
                <%= link_to "/projects.html" do %>
                    Projects
                <% end %>
            </li>
            <li>
                <%= link_to "/music.html" do %>
                    Music
                <% end %>
            </li>
        </ul>
    </div>
</nav>